<h1>{{title}}</h1>
{{#if err}}
<p>somethig went wrong</p>
{{else}}
<ul>
    {{#each author_list}}
    <li><a href="{{this.url}}"> {{this.name}} | {{this.life_span}}</a>
    </li>
    {{else}}
</ul>
    
    <p>no content</p>
    {{/each}}
{{/if}}