<h1>{{title}}</h1>
<h2>{{message}}</h1>

{{#if err}}
<p>there is something went wrong</p>
{{err}}
{{else}}
<p>The libary has the following record counts: </p>
<ul>
    <li>Books: {{data.book_count}}</li>
    <li>Book Instances: {{data.book_instance_count}}</li>
    <li>Book Instance Available: {{data.book_instance_available_count}}</li>
    <li>Authors: {{data.author_count}}</li>
    <li>genres: {{data.genre_count}}</li>
</ul>
{{/if}}